<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.orientation">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Splash.App"
        android:allowBackup="true"
        android:icon="@drawable/splashscreen"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Attendance.AttendanceActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" >

        </activity>
        <activity android:name=".Settings.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" ></activity>
        <activity android:name=".Features.FeatureActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" ></activity>
        <activity
            android:name=".Departments.DepartMotto"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" >
        </activity>
        <activity
            android:name=".Departments.DepartActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" >
        </activity>
        <activity
            android:name=".Food.FoodActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Sports.SportsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Schedule.Sched_Activity"
            android:label="@string/title_activity_sched_"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Splash.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name=".Splash.Myservice" />

        <receiver android:name=".Splash.Reciever" />
    </application>

</manifest>